// ### Primary
$intro_signup_bg: hsl(217, 28%, 15%);
$main_bg: hsl(218, 28%, 13%);
$footer_bg: hsl(216, 53%, 9%);
$testimonials_bg: hsl(219, 30%, 18%);

// ### Accent
$calltoaction_gradient1: #64e2d9;
$calltoaction_gradient2: #339ecc;

// ### Neutral
$text_color: hsl(0, 0%, 100%);

// ### Font Family
$headings_calltoaction_nav_font: 'Raleway', sans-serif;
$body_font: 'Open Sans', sans-serif;
